body{
	background-color: #161D34;
}

input[type=text] {
	border-radius: 10px;
}

input[type=button] {
	border-radius: 10px;
}

.btn-success btn{
	border-radius: 10px;
}

.centerdiv {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
}