.header {
    background-color: #2F354A;
    /* background-color: #161D34; */
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.header img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
}

.headerText {
    text-align: center;
    color: white;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    letter-spacing: 5px;
    font-size: 50px;
    padding: 10px;
}