.headerText {
    text-align: center;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 50px;
    background-color: rgb(37, 42, 69);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}