.video-wrap {
    position: relative;
}

.video-wrap span {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    padding: 0 10px;
    border-radius: 30px;
    /* background-color: aliceblue; */
background: radial-gradient(circle at 50% -20%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);}

video {
    border-radius: 8px;
}