.video-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300);
  grid-auto-rows: 300;
}

.video-element{
  width: 100%;
  height:100%;
  object-fit: cover;
}

/* Dark & Light mode */
.dark {
  background-color: rgb(44, 45, 53);
  color: white;
}

.light {
  background-color: white;
  color: black;
}

/* frame */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #040A20;
}

button {
  background-color: #5D627A;
  color: white;
  box-shadow: 2px 5px #040A20;
}