body {
    margin: 0;
    background-color: rgb(12, 8, 35);
}

.landingPage {
    width: 800px;
    height: 500px;
    padding: 100px;
    margin: auto;
    background-color: rgb(37, 42, 69);
    border-radius: 10px;
    position: relative;
}

.imageSpaceContainer {
    position: absolute;
    top: 100px;
    left: 250px;
}

.imageSpaceDiv {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.userImage {
    width: 100%;
    border-radius: 50%;
}

.addCircleIconContainer {
    width: 35px;
    height: 35px;
    background-color: rgb(37, 42, 69);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addCircleIcon {
    color: rgb(51, 211, 206);
}

.usernameInputWrap {
    position: absolute;
    top: 200px;
    right: 240px;
}

.roomCodeInputWrap {
    position: absolute;
    bottom: 300px;
    left: 250px;
}

.inputWrap {
    font-size: 1.5em;
    background: linear-gradient(21deg, #1050ff, #1beabd);
    padding: 3px;
    display: flex;
    border-radius: 9999em;
    border: none;
    outline: none;
    z-index: 1;
    flex-direction: column;
}

.inputWrap *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1;
}

.inputWrap *:not(span):focus + span {
    opacity: 1;
    transform: scale(1);
}

.inputArea {
    width: 250px;
    height: 50px;
    font-size: 21px;
    display: inherit;
    border-radius: 25px;
    border: none;
    z-index: 1;
}

.inputWrap span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
  }

.btn {
    border: none;
    background-image: linear-gradient(21deg, #223976, #0988cd, #42c1a6, #2a9b64);
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    border-radius: 30px;
    transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.btn:hover {
    box-shadow: 1px 5px 15px 0 rgba(71, 201, 197, 0.75);
    transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.joinRoomButton {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 300px;
    right: 240px;
}

.createRoomButton {
    width: 400px;
    height: 50px;
    position: absolute;
    bottom: 150px;
    right: 290px;
}

.settingsIcon {
    color: aliceblue;
    position: absolute;
    bottom: 30px;
    right: 50px;
    cursor: pointer;
    transition: transform 1s ease;
}
  
.settingsIcon:hover {
    transform-origin: center center;
    transform: rotate(90deg);
}

@media only screen and (max-width: 600px) {
}