.toolButton {
    border-radius: 20px;
    background-color: rgb(44, 45, 53) rgb(225, 225, 225);
    height: 35px;
    color: rgb(225, 225, 225) rgb(37, 42, 69);
    margin: 2px;
    border: none;
}

.toolArea {
    margin: 20px;
    display: flex;
    justify-content: center;
    border: none;
}

.brushColourChange {
    border-radius: 10px;
    background-color: rgb(44, 45, 53);
    width: 50px;
    height: 35px;
    color: rgb(225, 225, 225);
    margin: 2px;
    border: 5px solid rgb(37, 42, 69);
}