.toolButton {
    border-radius: 10px;
    height: 35px;
    margin: 2px;
    border: none;
}

.toolButton:hover {
    background-color: rgb(43, 192, 105);
    cursor: pointer;
}

.toolArea {
    margin: 20px;
    display: flex;
    justify-content: center;
    border: none;
}

.brushColourChange {
    border-radius: 3px;
    background-color: #8E93AC;
    width: 50px;
    height: 35px;
    margin: 2px;
    
}